@model VocalConcert.Web.Models.ViewModel.vProduct

@{
    ViewBag.Title = "Show Product";
}

<h2>优惠产品显示</h2>
<div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            发布人
        </dt>

        <dd>
            <a href="/User/@Model.UserID">@Html.DisplayFor(model => model.User.Username)</a> 
        </dd>

        <dt>
             活动状态
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
